<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo VueJS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
    <body>
        
        <h1>Olá mundo!</h1>
        <div id="app">
            <div v-if="mostrarLivros">
                <p>{{ titulo }} - {{ autor }} - {{ idade }}</p> <!-- Elemento é retirado do DOM (mais custoso) -->
            </div>

            <button @click="toggleMostrarLivros">
                <span v-if="mostrarLivros">Tirar livros</span>
                <span v-else>Mostrar livros</span>
            </button>

            <div v-show="mostrarLivros">Mostrando livros</div> <!-- Apenas CSS, elemento ainda existe (menos custoso)-->

        </div>

        <script src="app.js"></script>
    </body>
</html>